<div class="container center">
  <div class="row">
    <div class="col-sm-12">
      <!-- why we need ngIf -->
      <div class="container">
        <div class="row">
          <div class="col pic">
            <img src="https://img1.mashed.com/img/gallery/easy-dishes-that-make-you-seem-like-a-professional-chef/intro.jpg" height=250px width=250px /> <br>
          </div>
        </div>
      </div>
      
      <!-- {{pet.name}}, <br>
      {{pet.gender}}, <br>
      {{pet.age}}, <br>
      {{pet.ownerName}} <br> -->

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Welcome! </h1>
      <h4 style="color:white;"> This is where your pet's account information is stored</h4>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
