<div class="container-fluid p-0">
      <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleCaptions"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/item.jpg" class="img-fluid" alt="..."/>
              <div class="carousel-caption d-none d-md-block">
                  <div class="card card-style text-center" style="width: 35rem; height: 18rem;">
                      <div class="card-body text-center">
                        <h1>How It Works!</h1>

                    </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item container-fluid">
              <img src="../../assets/request-chef.jpg" class="img-fluid" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                  <button type="button" class="btn btn-warning ">Request A Chef !</button>
              </div>
            </div>
            <div class="carousel-item container-fluid">
              <img src="../../assets/item3.jpg" class="img-fluid" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                  <button type="button" class="btn btn-warning">Register A Chef !</button>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
</div>
