

<div class="border-secondary">
    <div class="card  mb-4 border border-dark list-group-item-action " style="width: 19rem"
     >
        <img src={{chef.pictureUrl}} alt="" class="card-img-top">
        <div class="card-body  container">
            <div class="row">
            <h5 class="col-6">{{chef.firstName}}</h5>
            <h5 class="col-6">{{chef.age}}</h5>
            <h5 class="col-6">{{chef.categories.name}}</h5>
        </div>
            <h5>{{chef.description}}</h5>
            <!-- need add function -->
        </div>
    </div>
</div>
