<div class="container">
  <div class="row">
    <div class="col-sm-11">
      <!-- NavBar for the Whole Application -->
      <nav class="navbar navbar-expand-lg navbar-light nav-bag-color nav-font ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item lis">
              <a class="nav-link" routerLink="/profile">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item lis">
              <a class="nav-link" routerLink="/look">Look for Chefs <span class="sr-only">(current)</span></a>
            </li>
            <li class=" nav-item lis">
              <a class="navbar-brand nav-title" routerLink="/">Chef Up</a>
            </li>
            <li class="nav-item lis">
              <a class="nav-link" routerLink="/contacts">Contacts <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item lis">
              <a class="nav-link" routerLink="/help">Help <span class="sr-only">(current)</span></a>
            </li>

          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
        </div>
        <div class="col-sm-1 ">
          <ul class="navbar-nav mr-auto side-button">
            <li>
              <button type="button" class="btn btn-outline-warning  account-button" (click) = "openRegister()">Sign Up</button>
            </li>
            <li>
              <button type="button" class="btn btn-outline-secondary account-button" (click) = "openLogin()" >Sign In</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container-flex footer">
  <div class="row">
    <div class="col">
      <div>© 2019 DaSquad | TeamTitan LLC, All rights reserved.</div>
      <div> 110 Allen rd | Basking Ridge | New Jersey | 08854 | USA </div>
    </div>
  </div>
</div>
